<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProntuMed</title>
</head>
<body>
    <style>
        h1 {
        margin-top:280px;
        border:2px solid black;
        }
        h1{text-align: center;}
        h1{color: darkgreen;}
        form{text-align: center;}
        form{background-color: dimgray;}
        
    </style>
    <h1>Seja bem-vido(a) ao sistema ProntuMed</h1>
    <form>
        <label for="usuario">Usuário:</label><br>
        <input type="text" id="usuario" name="usuario"><br>
        <label for="senha">Senha:</label><br>
        <input type="text" id="senha" name="senha">
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>