<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProntuMed-Inicio</title>
</head>
<body>
    <style>
        h1{
            color: darkgreen;
        }
        ul{
            margin: auto;
            max-width: 550px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    </style>
    <h1>ProntuMed</h1>
    <nav>
        <ul>
          <li><a href="#">Meus Exames</a></li>
          <li><a href="sobre.html">Sobre</a></li>
          <li><a href="contato.html">Contato</a></li>
        </ul>
      </nav>
</body>
</html>